div#innerContainer > pre {
    padding: 1em 5em 1em 1em;
    box-shadow: 3px 3px 3px rgb(68 68 68 / 60%);
    border-radius: 7px;
    border: 2px solid black;
    background: #f7f7f8;
    font-size: 14px;
}

pre.chroma {
    padding: 1em 5em 1em 1em;
    box-shadow: 5px 5px 5px rgb(68 68 68 / 60%);
    border-radius: 7px;
    border: 2px solid black;
    background: #f7f7f8;
    font-size:14px;
}

img.blog {
    border: solid 1px #75757f;
}

/* from historical blog */

#left-content ol, #left-content ul {
    margin: 5px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}
  
#left-content ol > li, #left-content ul > li {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}
  
#left-content ul > li {
    list-style-type: disc !important;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

blockquote {
    font-style: italic;
}

.bi {
    display: inline-block;
    vertical-align:middle;
}
.bi-link {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--wk-accent-color-3);
}

.clipboard-button {
  position: absolute;
  right: 0;
  padding: 2px 7px 5px 7px;
  margin: 5px;
  color: #767676;
  border-color: #767676;
  background-color: #ededed;
  border: 1px solid;
  border-radius: 6px;
  font-size: 0.8em;
  z-index: 1;
  opacity: 0;
  transition: 0.1s;
}
.clipboard-button > svg {
  fill: #767676;
}
.clipboard-button:hover {
  cursor: pointer;
  border-color: #696969;
  background-color: #e0e0e0;
}
.clipboard-button:hover > svg {
  fill: #696969;
}
.clipboard-button:focus {
  outline: 0;
}
.highlight {
  position: relative;
}
.highlight:hover > .clipboard-button {
  opacity: 1;
  transition: 0.2s;
}
